//variebles
$transition: all 0.1s ease-in-out;

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body,
*,
html {
  font-family: "Quicksand", sans-serif;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;

  border: 0;
  width: 100%;
  height: 100vh;
  background-image: url("./blob-scene-haikei.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.log_con_div {
  width: 40%;
  height: 100vh;
  box-shadow: 0px 0px 20px black;
  text-align: center;
  color: rgb(54, 207, 15);
  @media (width<1000px) {
    width: 100%;
  }
  h1 {
    text-shadow: 0px 0px 100px rgb(12, 221, 5);
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 10px;
    margin: 0;
    @media (width<1000px) {
      font-size: 7rem;
    }
  }
}
.log_con {
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;

  border-radius: 0% 0% 0% 0%;
  transition: $transition;
  button {
    margin-top: 3.3vh;
    border: 0;
    background-color: rgb(11, 194, 11);
    box-shadow: 0px 0px 20px rgba(0, 255, 0, 0);
    cursor: pointer;
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
    transition: all 0.18s ease-in-out;
    @media (width<1000px) {
      font-size: clamp(2.8rem, 2vw, 50rem);
    }
    &:hover {
      box-shadow: 0px 0px 20px rgba(0, 255, 0, 0.363);
    }
  }
}
.input_con {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  @media (width<1000px) {
    width: 70%;
  }
  input {
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    color: rgb(3, 36, 66);
    box-shadow: 0px 0px 10px rgb(1, 66, 128);
    font-size: 100%;
    width: 100%;
    outline: none;
    border: 0;
    padding: 10px 10px;
    background: rgb(255, 255, 255);
    font-weight: 500;
    letter-spacing: 1px;
    @media (width<1000px) {
      font-size: 300%;
    }
  }
}

.input_tag {
  font-size: 120%;
  transition: $transition;
  position: relative;
  top: 15%;
  pointer-events: none;
  color: rgb(255, 255, 255);
  left: 3%;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  @media (width<1000px) {
    font-size: clamp(2.8rem, 20%, 50rem);
  }
}
